<body data-spy="scroll" data-target="#steam-navbar" data-offset="0">

    <div id = "home" class = "container-fluid cover-image center-text">
        <div class = "container narrow-display welcome-section">
            <h1 class="display-4 section-title">Welcome to STEAM – the smart greenhouse</h1>
            <p class="lead">What if we could grow all types of vegetables and fruits anywhere in the world?</p>
            <p class="lead">Could we cut inefficiencies from the global food chain and offer fresher, healthier, local ingredients?</p>
            <p>
                The solution is STEAM – a computer controlled farming environment. Through the use of code, students and people who never would have dreamed of owning a garden, have now been producing
                and eating some of their own tomatoes, lettuce and other greens. By controlling factors such as temperature, nutrients, light, and humidity specific “climate recipes” can be perfectly
                tuned to produce the desired harvests.
            </p>
        </div>
    </div>
    <a class="anchor" ></a>

<a class="anchor" id="prototype"></a>
<div class = "container-fluid section-padding">
    <h1 class="display-4 center-text section-title">Prototype</h1>
    <div class="row">
        <div class="col">
            <img [src]="'assets/homepage-images/prototype.jpg'" class="rounded mx-auto d-block resize-prototype-image" alt="prototype image">
        </div>
        <div class="col">
            <h2 class = "">Bill of Materials</h2>
            <ol>
                <li>Arduino UNO</li>
                <li>Arduino Ethernet Shield</li>
                <li>Fan</li>
                <li>Water, Temperature, Humidity Sensor</li>
                <li>Miscellaneous Tubing</li>
                <li>Watering Actuator</li>
                <li>LED Lights</li>
                <li>Power Supply</li>
                <li>Miscellaneous Wiring</li>
                <li>Fish tank</li>
                <li>External Power for Arduino</li>
                <li>2-channel relay 5V</li>
                <li>GFCI outlet</li>
                <li>Housing for outlet</li>
                <li>Extension cable (for wall plug)</li>
                <li>Wire Cutter</li>
                <li>Raw Wiring (arduino wires)</li>
                <li>Electrical Tape</li>
                <li>Computer</li>
            </ol>
        </div>
    </div>
</div>

<a class="anchor" id="team"></a>
<div class = "container-fluid section-padding">
    <div class = "container section-padding">
        <h1 class="display-4 center-text section-title">The Team</h1>
        <div class="row center-text">
            <div class="col horizontal-spacing">
                <img [src]="'assets/homepage-images/josh_photo.png'" class="rounded float-left team-image" alt="team image">
                <h5>Josh Reding  Co-Founder</h5>
                <p>Integrated Engineering + Honors Business Administration</p>
                <p>Chatham, Ontario</p>
                <p>redingjoshua41@gmail.com</p>
            </div>
            <div class="col horizontal-spacing">
                <img [src]="'assets/homepage-images/dill_photo.png'" class="rounded float-left team-image" alt="team image">
                <h5>Madalitso Mchaina Co-Founder</h5>
                <p>Computer Engineering</p>
                <p>Cambridge, Ontario</p>
                <p>mmchain@uwo.ca</p>
            </div>
            <div class="w-100"></div>
            <div class="col horizontal-spacing">
                <img [src]="'assets/homepage-images/patrick_photo.png'" class="rounded float-left team-image" alt="team image">
                <h5>Patrick Park  Co-Founder</h5>
                <p>Electrical Engineering</p>
                <p>Vancouver, British Columbia</p>
                <p>parkpatrickj@gmail.com</p>
            </div>
            <div class="col horizontal-spacing">
                <img [src]="'assets/homepage-images/jackie_photo.png'" class="rounded float-left team-image" alt="team image">
                <h5>Jackie Ngo Co-Founder</h5>
                <p>Software Engineering</p>
                <p>Toronto, Ontario</p>
                <p>jackie.ngo888@gmail.com</p>
            </div>
        </div>
    </div>
</div>



</body>
